@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'cinzel';
  src: url('/fonts/Cinzel/Cinzel-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

:root {
  --red: #B70101;
  --red-glow: #e71111af;
  --red-corner-glow-1: #5a0000;
  --white: #ffffff;
  --black: #000000;
  --black-light: #111111;
  --grey: rgb(5, 4, 4);
  --grey-dark: rgb(43, 37, 37);
}

* {
  box-sizing: border-box;
  color: #fff;
  font-family: 'Cinzel', serif;
}

button, [type='button'], [type='reset'], [type='submit'] {
  -webkit-appearance: button;
  /* background-color: transparent; */
  background-image: default;
}

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  background: var(--black);
}

a {
  color: inherit;
  text-decoration: none;
}

[class*='flex-'] {
  display: flex;
}

.p-0-i {
  padding: 0 !important;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-center-h {
  justify-content: center;
}

.text-xl-1-5 {
  font-size: 1.4rem;
  line-height: 1.9rem;
}

.rounded-img {
  border-radius: 50%;
}

.hide-banner {
  background: var(--black);
  width: 100%;
  height: 50px;
  margin-top: -50px;
  z-index: 2;
}

/* .page-wrapper {
  transition: all .3s ease;
} */

.slick-slide, .slick-slide img {
  height: 100vh;
}

.slick-arrow .slick-next {
  display: none !important;
}

.card-wrapper>div {
  background: var(--black) !important;
  padding: 0 !important;
  width: unset !important;
}

.card {
  position: relative;
  border: 2px solid var(--red);
  transition: all .3s ease;
  background: var(--black-light);
  box-shadow: 0 0 35px var(--red-glow);
}

.card-corner-tl:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin: -20px;
  width: 40px;
  height: 40px;
  transform: rotate(45deg);
  background: linear-gradient(90deg, var(--black) 20%, var(--red-corner-glow-1));
  border-right: 2px solid var(--red);
  z-index: 1000;
}

.card-corner-br:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  margin: -20px;
  width: 40px;
  height: 40px;
  transform: rotate(45deg);
  background: linear-gradient(-90deg, var(--black) 20%, var(--red-corner-glow-1));
  border-left: 2px solid var(--red);
  z-index: 1000;
}

#header-desktop-nav {
  display: none;
}

#header-bar {
  width: 100%;
  background: var(--black-light);
  border-bottom: 3px solid var(--red);
  filter: drop-shadow(0px 4px 10px var(--red-glow));
  transition: 0.3s all ease;
}

.h-65px {
  height: 65px;
}

.nav-item-link:hover {
  cursor: pointer;
}

.nav-item {
  font-size: 1.25rem;
  /* 20px */
  line-height: 1.75rem;
  /* 28px */
}

#header-bar>div>div>.menu {
  height: 100%;
  width: 35px;
  cursor: pointer;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

#header-bar>div>div>.menu>span {
  display: block;
  width: 100%;
  border-radius: 5px;
  height: 4px;
  background: #fff;
  transition: all .3s;
  position: relative;
  display: flex;
  flex-direction: row;
}

#header-bar>div>div>.not-active span {
  margin-top: 6px;
}

#header-bar>div>div>.active span {
  margin-top: 6px;
}

#header-bar>div>div>.active span:nth-child(1) {
  animation: ease .7s menuTop forwards;
}

#header-bar>div>div>.not-active span:nth-child(1) {
  animation: ease .7s menuTop-2 forwards;
}

#header-bar>div>div>.active span:nth-child(2) {
  animation: ease .7s menuScaled forwards;
}

#header-bar>div>div>.not-active span:nth-child(2) {
  animation: ease .7s menuScaled-2 forwards;
}

#header-bar>div>div>.active span:nth-child(3) {
  animation: ease .7s menuBottom forwards;
}

#header-bar>div>div>.not-active span:nth-child(3) {
  animation: ease .7s menuBottom-2 forwards;
}

.mobile-nav-items {
  padding-top: 15px;
  display: flex;
}

.mobile-active {
  visibility: visible;
  transition: 0.1s 0.1s all ease;
}

.mobile-inactive {
  visibility: hidden;
}

#aktuality>.cards-wrapper>div>.card-wrapper>div>.card>div>div:first-child>div {
  margin-bottom: -7px;
}

.aktuality-image, .aktuality-partners-images>.flex-col, .aktuality-p, .aktuality-title {
  display: none;
}

.aktuality-image-mobile {
  display: flex;
}

.person:first-child {
  margin-left: 0 !important;
}

#galerie>.cards-wrapper>div>.card-wrapper>div>.card>div {
  margin-bottom: -9px;
}

.gallery-cards:nth-last-child(-n+4) {
  display: none;
}

#kontakt>div>#socials-wrapper>div>a>div>.card-wrapper>div>.card {
  padding: 2rem;
}

#socials-wrapper>div>div:hover {
  cursor: pointer;
}

#kontakt>div>#socials-wrapper>div:first-child>a:first-child:hover>div>.card-wrapper>div>.card {
  background: #4267b2;
}

#kontakt>div>#socials-wrapper>div:first-child>a:last-child:hover>div>.card-wrapper>div>.card {
  background: #e4405f;
}

#kontakt>div>#socials-wrapper>div:last-child>a:first-child:hover>div>.card-wrapper>div>.card {
  background: #ff0000;
}

/* #kontakt>div>#socials-wrapper>div:last-child>a:last-child>div>.card-wrapper>div>.card>span {

} */

  #kontakt>div>#socials-wrapper>div:last-child>a:last-child:hover>div>.card-wrapper>div>.card {
    background: #EDB000;
  }

  /* SCROLL BTN */

  .scroll-up-btn-wrapper {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: none;
  }

  .scroll-down-btn-wrapper {
    position: relative;
    display: none;
    justify-content: center;
    margin-top: -5rem;
    z-index: 30;
  }

  .scroll-down-btn-wrapper:hover {
    cursor: pointer;
  }

  /* SCROLL BTN */

  #kapela>div>div:nth-child(3), #kapela>div>div:nth-child(5) {
    margin-left: 0 !important;
  }

  @media (min-width: 1280px) {
    .container {
      max-width: 1536px;
    }
  }

  @media (max-width: 1280px) {
    /* #kapela>div>div:nth-child(3), #kapela>div>div:nth-child(5) {
    margin-left: 0 !important;
  } */

    .cards-wrapper>div:last-child {
      margin-top: 3rem;
    }
  }

  @media (min-width: 1536px) {
    .aktuality-image {
      display: flex;
    }

    #header-desktop-nav {
      display: flex;
    }

    .mobile-nav-items {
      display: none;
    }
  }

  @media (min-width: 1340px) {
    .scroll-down-btn-wrapper {
      display: flex;
    }
  }

  @media (max-width: 1900px) {
    /* #kapela>div>div:nth-child(2), #kapela>div>div:nth-child(4) {
    margin-left: 0 !important;
  } */

  }

  @media (max-width: 950px) {
    .slick-slide, .slick-slide img {
      height: 50vh;
    }
  }

  @media (max-width: 768px) {
    .footer-desktop {
      display: none;
    }
  }

  @media (min-width: 768px) {
    .footer-desktop {
      display: flex;
    }

    .footer-mobile {
      display: none;
    }
  }

  @media (max-width: 680px) {
    .slick-slide, .slick-slide img {
      height: 30vh;
    }

    .slick-slide {
      margin-top: 4rem;
    }
  }


  @media (max-width: 640px) {
    #kapela>div>div {
      margin-left: 0 !important;
      margin-top: 4rem;
    }

    .container {
      padding-right: 2rem;
      padding-left: 2rem;
    }
  }

  @media (min-width: 640px) {
    .aktuality-partners-images, .aktuality-partners-images>.flex-col, .scroll-up-btn-wrapper, .aktuality-title, .gallery-cards:nth-last-child(-n+4) {
      display: flex;
    }

    .aktuality-image-mobile {
      display: none;
    }
  }

  @media (min-width: 488px) {
    .aktuality-p {
      display: flex;
    }
  }



  /* KEYFRAMES */

  @keyframes fillUp {
    0% {
      transform: rotateZ(0deg);
    }

    25% {
      transform: rotateZ(6deg);
    }

    50% {
      transform: rotateZ(0deg);
    }

    75% {
      transform: rotateZ(-6deg);
    }

    100% {
      transform: rotateZ(0deg);
    }
  }

  @keyframes menuTop {
    0% {
      top: 0;
      transform: rotate(0);
    }

    50% {
      top: 10px;
      transform: rotate(0);
    }

    100% {
      top: 10px;
      transform: rotate(45deg);
    }
  }

  @keyframes menuTop-2 {
    0% {
      top: 10px;
      transform: rotate(45deg);
    }

    50% {
      top: 10px;
      transform: rotate(0deg);
    }

    100% {
      top: 0;
      transform: rotate(0deg);
    }
  }

  @keyframes menuBottom {
    0% {
      bottom: 0;
      transform: rotate(0);
    }

    50% {
      bottom: 10px;
      transform: rotate(0);
    }

    100% {
      bottom: 10px;
      transform: rotate(135deg);
    }
  }

  @keyframes menuBottom-2 {
    0% {
      bottom: 10px;
      transform: rotate(135deg);
    }

    50% {
      bottom: 10px;
      transform: rotate(0);
    }

    100% {
      bottom: 0;
      transform: rotate(0);
    }
  }

  @keyframes menuScaled {
    50% {
      transform: scale(0);
    }

    100% {
      transform: scale(0);
    }
  }

  @keyframes menuScaled-2 {
    0% {
      transform: scale(0);
    }

    50% {
      transform: scale(0);
    }

    100% {
      transform: scale(1);
    }
  }


  ::-webkit-scrollbar {
    width: 7px;
    background: var(--red);
  }

  /* Track */
  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-track-piece {
    background: none;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #4c516b;
    border-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-left: 4px var(--violet-darker) solid;
    border-right: 4px var(--violet-darker) solid;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #727897;
  }

  /* NEXT.JS ADDITIONAL STYLES */
  /*
	Wrap Image component in "image-wrapper" and in Image component set layout="fill"
	to display image without explicit width and height
*/

  .next-image-wrapper {
    position: relative !important;
    width: 100%;
  }

  .next-image-wrapper>div {
    position: unset !important;
  }

  .next-image-wrapper>div>img {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }

  /* NEXT.JS ADDITIONAL STYLES END */