* {
  box-sizing: border-box;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  background: linear-gradient(112deg, #520b0b, #690c0c, #7b0e0e, #b42121, #7b0e0e, #690c0c, #520b0b);
	background-size: 1800% 1800%;

	-webkit-animation: gradientBg1 19s ease infinite;
	-moz-animation: gradientBg1 19s ease infinite;
	-o-animation: gradientBg1 19s ease infinite;
	animation: gradientBg1 19s ease infinite;
}

:root {
	--red: #ff0000;
	--red-transparent: RGBA(255,0,0,0.5);
	--white: #fff;
	--grey: rgb(80, 72, 72);
	--grey-dark: rgb(43, 37, 37);
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
	height: 100vh;
}

.rounded-img {
  border-radius: 50%;
}

@-webkit-keyframes gradientBg1 {
	0%{background-position:0% 25%}
	50%{background-position:100% 76%}
	100%{background-position:0% 25%}
}
@-moz-keyframes gradientBg1 {
	0%{background-position:0% 25%}
	50%{background-position:100% 76%}
	100%{background-position:0% 25%}
}
@-o-keyframes gradientBg1 {
	0%{background-position:0% 25%}
	50%{background-position:100% 76%}
	100%{background-position:0% 25%}
}
@keyframes gradientBg1 {
	0%{background-position:0% 25%}
	50%{background-position:100% 76%}
	100%{background-position:0% 25%}
}