@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Orbitron:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --red: #B70101;
  --red-glow: #e71111af;
  --red-corner-glow-1: #5a0000;
  --white: #ffffff;
  --black: #000000;
  --black-light: #111111;
  --grey: rgb(5, 4, 4);
  --grey-dark: rgb(43, 37, 37);
}

* {
  box-sizing: border-box;
  color: #fff;
  font-family: 'Cinzel', serif;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  background: var(--black);
}

a {
  color: inherit;
  text-decoration: none;
}

[class*='flex-'] {
  display: flex;
}

.p-0-i {
  padding: 0 !important;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-center-h {
  justify-content: center;
}

.text-xl-1-5 {
  font-size: 1.4rem;
  line-height: 1.9rem;
}

.rounded-img {
  border-radius: 50%;
}

.hide-banner {
  background: var(--black);
  width: 100%;
  height: 50px;
  margin-top: -50px;
  z-index: 2;
}

.page-wrapper {
  transition: all .3s ease;
}

.card-wrapper>div {
  background: var(--black) !important;
  padding: 0 !important;
  width: unset !important;
}

.card {
  position: relative;
  border: 2px solid var(--red);
  transition: all .3s ease;
  background: var(--black-light);
  box-shadow: 0 0 35px var(--red-glow);
}

.card-corner-tl:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin: -20px;
  width: 40px;
  height: 40px;
  transform: rotate(45deg);
  background: linear-gradient(90deg, var(--black) 20%, var(--red-corner-glow-1));
  border-right: 2px solid var(--red);
  z-index: 1000;
}

.card-corner-br:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  margin: -20px;
  width: 40px;
  height: 40px;
  transform: rotate(45deg);
  background: linear-gradient(-90deg, var(--black) 20%, var(--red-corner-glow-1));
  border-left: 2px solid var(--red);
  z-index: 1000;
}

#aktuality>.cards-wrapper>div>.card-wrapper>div>.card>div>div:first-child>div {
  margin-bottom: -7px;
}

.person:first-child {
  margin-left: 0 !important;
}

#galerie>.cards-wrapper>div>.card-wrapper>div>.card>div {
  margin-bottom: -9px;
}

#kontakt>div>#socials-wrapper>div>a>div>.card-wrapper>div>.card {
  padding: 2rem;
}


#socials-wrapper>div>div:hover {
  cursor: pointer;
}

#kontakt>div>#socials-wrapper>div:first-child>a:first-child:hover>div>.card-wrapper>div>.card {
  background: #4267b2;
}

#kontakt>div>#socials-wrapper>div:first-child>a:last-child:hover>div>.card-wrapper>div>.card {
  background: #e4405f;
}

#kontakt>div>#socials-wrapper>div:last-child>a:first-child:hover>div>.card-wrapper>div>.card {
  background: #ff0000;
}

/* #kontakt>div>#socials-wrapper>div:last-child>a:last-child>div>.card-wrapper>div>.card>span {

} */

#kontakt>div>#socials-wrapper>div:last-child>a:last-child:hover>div>.card-wrapper>div>.card {
  background: #EDB000;
}

/* SCROLLUP BTN */

#scrollup-btn {
  font-size: 30px;
  padding: 0 5px 0 5px;
  border-radius: 40px;
  background-color: var(--violet);
  position: fixed;
  bottom: 25px;
  right: 25px;
  height: 50px;
  width: 50px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  z-index: 1000;
  display: none;
}

#scrollup-btn>span:after {
  color: black !important;
  mix-blend-mode: difference;
}

#scrollup-btn:hover {
  background-color: var(--violet-light);
  cursor: pointer;
}

#scrollup-btn>span {
  z-index: 1;
  color: white !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 15px 5px 15px;
}

#scrollup-btn:hover>span {
  animation-name: arrowGoBrrBackwards;
  animation-duration: 0.4s;
}

.scroll-up-btn-wrapper {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

/* SCROLLUP BTN */

#kapela>div>div:nth-child(3), #kapela>div>div:nth-child(5) {
  margin-left: 0 !important;
}

@media (min-width: 1280px) {
  .container {
    max-width: 1536px;
  }
}

@media (max-width: 1280px) {
  /* #kapela>div>div:nth-child(3), #kapela>div>div:nth-child(5) {
    margin-left: 0 !important;
  } */

  .cards-wrapper>div:last-child {
    margin-top: 3rem;
  }
}

@media (min-width: 1535px) {}

@media (max-width: 1900px) {
  /* #kapela>div>div:nth-child(2), #kapela>div>div:nth-child(4) {
    margin-left: 0 !important;
  } */

}

@media (max-width: 768px) {
  .footer-desktop {
    display: none;
  }
}

@media (min-width: 768px) {
  .footer-desktop {
    display: flex;
  }

  .footer-mobile {
    display: none;
  }
}

@media (max-width: 640px) {
  #kapela>div>div {
    margin-left: 0 !important;
    margin-top: 4rem;
  }
}

::-webkit-scrollbar {
  width: 7px;
  background: var(--red);
}

/* Track */
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4c516b;
  border-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-left: 4px var(--violet-darker) solid;
  border-right: 4px var(--violet-darker) solid;
}

::-webkit-scrollbar-thumb:hover {
  background: #727897;
}